.seeds-dialog {
  --dialog-border-radius: var(--seeds-rounded-lg);
  --dialog-border-color: var(--seeds-border-color);
  --dialog-padding: var(--seeds-s6);
  --dialog-width: calc(var(--seeds-width-lg) - var(--seeds-s8)); /* 480px */
  --dialog-close-icon-color: var(--seeds-color-primary);
  --dialog-header-background-color: var(--seeds-bg-color-surface);
  --dialog-header-padding-block: var(--seeds-s6);
  --dialog-header-padding-inline: var(--seeds-s6);
  --dialog-content-text-color: var(--seeds-text-color);
  --dialog-content-background-color: var(--seeds-bg-color-surface);
  --dialog-footer-background-color: var(--seeds-bg-color-surface-primary);
  --dialog-footer-padding-block: var(--dialog-padding);
  --dialog-footer-padding-inline: var(--dialog-padding);

  --overlay-border-radius: var(--dialog-border-radius);
  --overlay-border-color: var(--dialog-border-color);
  --overlay-padding: var(--dialog-padding);
  --overlay-close-icon-color: var(--dialog-close-icon-color);
  --overlay-header-border-color: transparent;
  --overlay-header-background-color: var(--dialog-header-background-color);
  --overlay-header-padding-block: var(--dialog-header-padding-block);
  --overlay-header-padding-inline: var(--dialog-header-padding-inline);
  --overlay-content-text-color: var(--dialog-content-text-color);
  --overlay-content-background-color: var(--dialog-content-background-color);
  --overlay-footer-background-color: var(--dialog-footer-background-color);
  --overlay-footer-padding-block: var(--dialog-footer-padding-block);
  --overlay-footer-padding-inline: var(--dialog-footer-padding-inline);

  overflow: hidden;
  width: var(--dialog-width);
  max-width: 100%;
  max-height: 90vh;

  @media (--sm-only) {
    --dialog-border-radius: 0;

    margin-block-start: 0;
    max-height: 100vh;
  }
}

.seeds-dialog-header {
  align-items: start;
}

.seeds-dialog-content {
  padding-block-start: 0;
}

.seeds-dialog-footer {
  flex-direction: row-reverse;
}
