.seeds-drawer {
  --drawer-border-color: var(--seeds-border-color);
  --drawer-close-icon-color: var(--seeds-color-primary);
  --drawer-content-background-color: var(--seeds-bg-color-canvas);
  --drawer-footer-background-color: var(--drawer-content-background-color);
  --drawer-header-bg-color: var(--seeds-bg-color-surface);
  --drawer-header-font-family: var(--seeds-font-sans);
  --drawer-header-spacing: var(--seeds-s4);
  --drawer-spacing: var(--seeds-s6);

  --drawer-width-sm: 100vw;
  --drawer-width-md: 48rem;
  --drawer-width-lg: 64rem;
  --drawer-width-xl: 80rem;
  --drawer-nested-width-md: 38rem;
  --drawer-nested-width-lg: 54rem;
  --drawer-nested-width-xl: 70rem;

  inset-inline-start: auto;
  height: 100vh;

  @media (--sm-only) {
    width: var(--drawer-width-sm);
  }
  @media (--md-and-up) {
    width: var(--drawer-width-md);
  }
  @media (--lg-and-up) {
    width: var(--drawer-width-lg);
  }
  @media (--xl-and-up) {
    width: var(--drawer-width-xl);
  }
}

.seeds-drawer-nested {
  @media (--md-and-up) {
    width: var(--drawer-nested-width-md);
  }
  @media (--lg-and-up) {
    width: var(--drawer-nested-width-lg);
  }
  @media (--xl-and-up) {
    width: var(--drawer-nested-width-xl);
  }
}

.seeds-drawer-content {
  &.is-full-height {
    flex-grow: 1;
  }
}
