.seeds-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.seeds-overlay-background {
  background-color: rgba(34, 34, 34, 0.5);
  width: 100%;
  height: 100%;
}
