.seeds-overlay {
  --overlay-background-color: rgba(34, 34, 34, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: var(--seeds-z-index-overlay);
}

.seeds-overlay-background {
  background-color: var(--overlay-background-color);
  width: 100%;
  height: 100%;
}

.seeds-overlay-container {
  --overlay-border-radius: 0;
  --overlay-border-color: var(--seeds-border-color);
  --overlay-spacing: var(--seeds-s6);
  --overlay-close-icon-color: var(--seeds-color-primary);
  --overlay-content-background-color: var(--seeds-bg-color-surface);
  --overlay-header-border-color: var(--overlay-border-color);
  --overlay-header-background-color: var(--seeds-bg-color-surface);
  --overlay-header-spacing: var(--seeds-s4);
  --overlay-footer-background-color: var(--seeds-bg-color-surface-primary);
  --overlay-footer-gap: var(--seeds-s4);
  --overlay-footer-spacing: var(--overlay-spacing);

  border: 1px solid var(--overlay-border-color);
  border-radius: var(--overlay-border-radius);
  background-color: var(--overlay-content-background-color);
  box-shadow: var(--seeds-shadow-md);

  position: absolute;
  inset: 0px;
  margin: auto;
  display: flex;
  width: max-content;
  height: min-content;
  flex-direction: column;
}

.seeds-overlay-content {
  padding: var(--overlay-spacing);
  overflow: auto;

  > :first-child {
    margin-block-start: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }

  > :not(:first-child) {
    margin-block-start: var(--overlay-spacing);
  }
}

.seeds-overlay-header {
  padding: var(--overlay-header-spacing);
  display: flex;
  align-items: center;
  border-block-end: 1px solid var(--overlay-header-border-color);
  background-color: var(--overlay-header-background-color);

  &.has-close-button-last {
    justify-content: space-between;
  }

  > button {
    padding: 0;
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: pointer;
  }

  > h1 {
    margin-inline-start: var(--overlay-header-spacing);
    font-size: var(--seeds-type-heading-size-2xl);
  }
}

.seeds-overlay-close-icon {
  svg {
    color: var(--overlay-close-icon-color);
  }
}

.seeds-overlay-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--overlay-footer-gap);
  flex-wrap: wrap;
  background-color: var(--overlay-footer-background-color);
  padding: var(--overlay-footer-spacing);
}
