.seeds-button {
  --button-border-width: var(--seeds-border-2);
  --button-font-family: var(--seeds-font-alt-sans);
  --button-font-weight: bold;
  --button-interior-gap: var(--seeds-s3);
  --button-icon-scale-factor: 0.85;
  --button-icon-side-padding: var(--seeds-s4);

  --button-padding-sm: calc(var(--seeds-s3_5) - var(--button-border-width))
    calc(var(--seeds-s5) - var(--button-border-width));
  --button-font-size-sm: var(--seeds-font-size-sm);
  --button-border-radius-sm: var(--seeds-rounded);
  --button-padding-md: calc(var(--seeds-s4) - var(--button-border-width))
    calc(var(--seeds-s6) - var(--button-border-width));
  --button-font-size-md: var(--seeds-font-size-base);
  --button-border-radius-md: var(--seeds-rounded);
  --button-padding-lg: calc(var(--seeds-s5) - var(--button-border-width))
    calc(var(--seeds-s7) - var(--button-border-width));
  --button-font-size-lg: var(--seeds-font-size-lg);
  --button-border-radius-lg: var(--seeds-rounded);

  all: initial;
  box-sizing: inherit;
  display: inline-flex;
  gap: var(--button-interior-gap);
  justify-content: center;
  border-style: solid;
  border-width: var(--button-border-width);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  line-height: var(--seeds-line-height-tight);
  cursor: pointer;

  &[data-size="sm"] {
    padding: var(--button-padding-sm);
    font-size: var(--button-font-size-sm);
    border-radius: var(--button-border-radius-sm);
  }

  &[data-size="md"] {
    padding: var(--button-padding-md);
    font-size: var(--button-font-size-md);
    border-radius: var(--button-border-radius-md);
  }

  &[data-size="lg"] {
    padding: var(--button-padding-lg);
    font-size: var(--button-font-size-lg);
    border-radius: var(--button-border-radius-lg);
  }

  &[data-variant="primary"] {
    background-color: var(--seeds-color-primary);
    border-color: var(--seeds-color-primary);
    color: var(--seeds-color-on-inverse);

    @media (any-pointer: fine) {
      &:hover {
        background-color: var(--seeds-color-primary-dark);
        border-color: var(--seeds-color-primary-dark);
      }
    }
  }

  &[data-variant="primary-outlined"] {
    background-color: var(--seeds-bg-color-surface);
    border-color: var(--seeds-color-primary);
    color: var(--seeds-color-primary);

    @media (any-pointer: fine) {
      &:hover {
        background-color: var(--seeds-color-primary-dark);
        border-color: var(--seeds-color-primary-dark);
        color: var(--seeds-color-on-inverse);
      }
    }
  }

  &[data-variant="secondary"] {
    background-color: var(--seeds-color-secondary);
    border-color: var(--seeds-color-secondary);
    color: var(--seeds-color-on-inverse);

    @media (any-pointer: fine) {
      &:hover {
        background-color: var(--seeds-color-secondary-dark);
        border-color: var(--seeds-color-secondary-dark);
      }
    }
  }

  &[data-variant="secondary-outlined"] {
    background-color: var(--seeds-bg-color-surface);
    border-color: var(--seeds-color-secondary);
    color: var(--seeds-color-secondary);

    @media (any-pointer: fine) {
      &:hover {
        background-color: var(--seeds-color-secondary-dark);
        border-color: var(--seeds-color-secondary-dark);
        color: var(--seeds-color-on-inverse);
      }
    }
  }

  &[data-variant="success"] {
    background-color: var(--seeds-color-success);
    border-color: var(--seeds-color-success);
    color: var(--seeds-color-on-inverse);

    @media (any-pointer: fine) {
      &:hover {
        background-color: var(--seeds-color-success-dark);
        border-color: var(--seeds-color-success-dark);
      }
    }
  }

  &[data-variant="success-outlined"] {
    background-color: var(--seeds-bg-color-surface);
    border-color: var(--seeds-color-success);
    color: var(--seeds-color-success);

    @media (any-pointer: fine) {
      &:hover {
        background-color: var(--seeds-color-success-dark);
        border-color: var(--seeds-color-success-dark);
        color: var(--seeds-color-on-inverse);
      }
    }
  }

  &[data-variant="alert"] {
    background-color: var(--seeds-color-alert);
    border-color: var(--seeds-color-alert);
    color: var(--seeds-color-on-inverse);

    @media (any-pointer: fine) {
      &:hover {
        background-color: var(--seeds-color-alert-dark);
        border-color: var(--seeds-color-alert-dark);
      }
    }
  }

  &[data-variant="alert-outlined"] {
    background-color: var(--seeds-bg-color-surface);
    border-color: var(--seeds-color-alert);
    color: var(--seeds-color-alert);

    @media (any-pointer: fine) {
      &:hover {
        background-color: var(--seeds-color-alert-dark);
        border-color: var(--seeds-color-alert-dark);
        color: var(--seeds-color-on-inverse);
      }
    }
  }

  &[data-variant="warn"] {
    background-color: var(--seeds-color-warn);
    border-color: var(--seeds-color-warn);
    color: var(--seeds-color-secondary-darker);

    @media (any-pointer: fine) {
      &:hover {
        background-color: var(--seeds-color-warn-dark);
        border-color: var(--seeds-color-warn-dark);
      }
    }
  }

  &[data-variant="warn-outlined"] {
    background-color: var(--seeds-bg-color-surface);
    border-color: var(--seeds-color-warn);
    color: var(--seeds-color-secondary-darker);

    @media (any-pointer: fine) {
      &:hover {
        background-color: var(--seeds-color-warn-dark);
        border-color: var(--seeds-color-warn-dark);
      }
    }
  }

  &[data-variant="text"] {
    background-color: transparent;
    border: none;
    color: var(--seeds-color-primary);
    font-weight: normal;
    text-decoration: underline;
    gap: var(--seeds-s1);

    &[data-size] {
      padding: 0;
      border-radius: 0;
    }

    &[data-size="lg"] {
      font-size: var(--button-font-size-md);
    }
  }

  &:not([data-variant$="-outlined"]) {
    &[disabled],
    &[disabled]:hover {
      background-color: var(--seeds-color-gray-450);
      border-color: var(--seeds-color-gray-450);
      color: white;
    }
  }

  &[data-variant$="-outlined"] {
    &[disabled],
    &[disabled]:hover {
      background-color: var(--seeds-color-bg-color-surface);
      border-color: var(--seeds-color-gray-450);
      color: var(--seeds-color-gray-450);
    }
  }

  &.has-lead-icon:not([data-variant="text"]) {
    padding-inline-start: var(--button-icon-side-padding);
  }

  &.has-tail-icon:not([data-variant="text"]) {
    padding-inline-end: var(--button-icon-side-padding);
  }

  & > * {
    align-self: center;
  }

  & > .seeds-icon {
    --icon-scale-factor: var(--button-icon-scale-factor);
  }

  &[data-size="sm"] > .seeds-icon {
    --icon-scale-factor: calc(var(--button-icon-scale-factor) * 1.15);
  }

  &:focus-visible {
    outline: var(--seeds-focus-ring-outline);
    box-shadow: var(--seeds-focus-ring-box-shadow);
  }

  // loading indicator
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 1.5em;
    height: 1.5em;
    top: calc(50% - 0.75em);
    left: calc(50% - 0.75em);
    border: 3px solid var(--seeds-color-on-inverse);
    border-left-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 250ms;
  }

  &[data-loading="true"] {
    position: relative;
    color: transparent;

    &::after {
      opacity: 1;
      animation: spinning-rotation 1s linear infinite;
    }

    .btnSubmit-text {
      visibility: hidden;
    }
  }
}

@keyframes spinning-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
