.button {
  --border-width: var(--bloom-border-2);
  --font-family: var(--bloom-font-alt-sans);
  --font-weight: bold;
  --interior-gap: var(--bloom-s3);
  --icon-size-percentage: 75%;
  --icon-side-padding: var(--bloom-s4);

  --padding-sm: calc(var(--bloom-s3_5) - var(--border-width))
    calc(var(--bloom-s5) - var(--border-width));
  --font-size-sm: var(--bloom-font-size-sm);
  --border-radius-sm: var(--bloom-rounded);
  --padding-md: calc(var(--bloom-s4) - var(--border-width))
    calc(var(--bloom-s6) - var(--border-width));
  --font-size-md: var(--bloom-font-size-base);
  --border-radius-md: var(--bloom-rounded);
  --padding-lg: calc(var(--bloom-s5) - var(--border-width))
    calc(var(--bloom-s7) - var(--border-width));
  --font-size-lg: var(--bloom-font-size-lg);
  --border-radius-lg: var(--bloom-rounded);

  all: initial;
  display: inline-flex;
  gap: var(--interior-gap);
  padding: var(--padding-md);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius-md);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size-md);
  line-height: var(--bloom-line-height-tight);
  cursor: pointer;

  &[data-size="sm"] {
    padding: var(--padding-sm);
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius-sm);
  }

  &[data-size="lg"] {
    padding: var(--padding-lg);
    font-size: var(--font-size-lg);
    border-radius: var(--border-radius-lg);
  }

  &[data-variant="primary"] {
    background-color: var(--bloom-color-primary);
    border-color: var(--bloom-color-primary);
    color: var(--bloom-color-on-inverse);

    &:hover {
      background-color: var(--bloom-color-primary-dark);
      border-color: var(--bloom-color-primary-dark);
    }
  }

  &[data-variant="primary-outlined"] {
    background-color: var(--bloom-bg-color-surface);
    border-color: var(--bloom-color-primary);
    color: var(--bloom-color-primary);

    &:hover {
      border-color: var(--bloom-color-primary-dark);
      color: var(--bloom-color-primary-dark);
    }
  }

  &[data-variant="secondary"] {
    background-color: var(--bloom-color-secondary);
    border-color: var(--bloom-color-secondary);
    color: var(--bloom-color-on-inverse);

    &:hover {
      background-color: var(--bloom-color-secondary-dark);
      border-color: var(--bloom-color-secondary-dark);
    }
  }

  &[data-variant="secondary-outlined"] {
    background-color: var(--bloom-bg-color-surface);
    border-color: var(--bloom-color-secondary);
    color: var(--bloom-color-secondary);

    &:hover {
      border-color: var(--bloom-color-secondary-dark);
      color: var(--bloom-color-secondary-dark);
    }
  }

  &[data-variant="alert"] {
    background-color: var(--bloom-color-alert);
    border-color: var(--bloom-color-alert);
    color: var(--bloom-color-on-inverse);

    &:hover {
      background-color: var(--bloom-color-alert-dark);
      border-color: var(--bloom-color-alert-dark);
    }
  }

  &[data-variant="alert-outlined"] {
    background-color: var(--bloom-bg-color-surface);
    border-color: var(--bloom-color-alert);
    color: var(--bloom-color-alert);

    &:hover {
      border-color: var(--bloom-color-alert-dark);
      color: var(--bloom-color-alert-dark);
    }
  }

  &[data-variant="highlight"] {
    background-color: var(--bloom-color-highlight);
    border-color: var(--bloom-color-highlight);
    color: var(--bloom-color-highlight-darker);

    &:hover {
      background-color: var(--bloom-color-highlight-dark);
      border-color: var(--bloom-color-highlight-dark);
    }
  }

  &[data-variant="highlight-outlined"] {
    background-color: var(--bloom-bg-color-surface);
    border-color: var(--bloom-color-highlight);
    color: var(--bloom-color-highlight-darker);

    &:hover {
      border-color: var(--bloom-color-highlight-dark);
    }
  }

  &[data-variant="borderless-text"] {
    background-color: transparent;
    border-color: transparent;
    color: var(--bloom-color-primary);
    font-weight: normal;
    text-decoration: underline;
    gap: var(--bloom-s1);
  }

  &:not([data-variant$="-outlined"]) {
    &[disabled],
    &[disabled]:hover {
      background-color: var(--bloom-color-gray-450);
      border-color: var(--bloom-color-gray-450);
      color: white;
    }
  }

  &[data-variant$="-outlined"] {
    &[disabled],
    &[disabled]:hover {
      background-color: var(--bloom-color-bg-color-surface);
      border-color: var(--bloom-color-gray-450);
      color: var(--bloom-color-gray-450);
    }
  }

  &.has-lead-icon {
    padding-inline-start: var(--icon-side-padding);
  }

  &.has-tail-icon {
    padding-inline-end: var(--icon-side-padding);
  }

  & > * {
    align-self: center;
  }

  & > .icon {
    font-size: var(--icon-size-percentage);
  }

  &:focus-visible {
    outline: var(--bloom-focus-ring-outline);
    box-shadow: var(--bloom-focus-ring-box-shadow);
  }
}
