.seeds-link, .seeds-prose a {
  text-decoration: underline;
}

.seeds-link {
  --link-interior-gap: var(--seeds-s1);
  --link-icon-scale-factor: 0.85;

  display: inline-flex;
  gap: var(--link-interior-gap);

  & > * {
    align-self: center;
  }

  & > .seeds-icon {
    --icon-scale-factor: var(--link-icon-scale-factor);
  }
}
