/* Fonts */
@import "../fonts/OpenSans/OpenSans.css";
@import "../fonts/NotoSerif/NotoSerif.css";
@import "../fonts/Lato/Lato.css";

/* Design Tokens: */
@import "tokens/borders.scss";
@import "tokens/colors.scss";
@import "tokens/fonts.scss";
@import "tokens/screens.scss";
@import "tokens/sizes.scss";

/**
 * Minimal CSS Reset
 */

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p,
ul,
ol,
blockquote,
figure {
  overflow-wrap: break-word;
}

:where(a) {
  color: var(--seeds-color-primary);
  text-decoration: inherit;
}

:where(input, button, textarea, select),
:where(input[type="file"])::-webkit-file-upload-button {
  font: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
}

[hidden] {
  display: none !important;
}

/**
 * Global Styles
 */
html {
  font-family: var(--seeds-font-sans);
  line-height: var(--seeds-line-height-normal);
}

body {
  background-color: var(--seeds-bg-color-surface);
  color: var(--seeds-color-on-surface);
  line-height: inherit;
}

.seeds-screen-reader-only {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
}

@import "text.scss";
@import "spacing.scss";
