@tailwind base;
@tailwind components;
@tailwind utilities;

/* Design Tokens: */
@import "tokens/borders.scss";
@import "tokens/colors.scss";
@import "tokens/fonts.scss";
@import "tokens/screens.scss";
@import "tokens/sizes.scss";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bloom-bg-color-surface);
  color: var(--bloom-color-on-surface);
}
