:root {
  --seeds-rounded-sm: 0.125rem;
  --seeds-rounded: 0.25rem;
  --seeds-rounded-md: 0.375rem;
  --seeds-rounded-lg: 0.5rem;
  --seeds-rounded-xl: 0.75rem;
  --seeds-rounded-2xl: 1rem;
  --seeds-rounded-3xl: 1.5rem;
  --seeds-rounded-full: 9999px;

  --seeds-border-1: 1px;
  --seeds-border-2: 2px;
  --seeds-border-4: 4px;
  --seeds-border-8: 8px;

  --seeds-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  --seeds-focus-ring-outline: 2px solid var(--seeds-color-white);
  --seeds-focus-ring-box-shadow: 0px 0px 3px 3px var(--seeds-color-highlight-cool);
}
