@custom-media --sm-only (max-width: 639px);
@custom-media --sm-and-up (min-width: 640px);
@custom-media --md-down (max-width: 767px);
@custom-media --md-and-up (min-width: 768px);
@custom-media --lg-down (max-width: 1023px);
@custom-media --lg-and-up (min-width: 1024px);
@custom-media --xl-down (max-width: 1279px);
@custom-media --xl-and-up (min-width: 1280px);
@custom-media --2xl-down (max-width: 1439px);
@custom-media --2xl-and-up (min-width: 1440px);

:root {
  --seeds-screen-sm: 640px;
  --seeds-screen-md: 768px;
  --seeds-screen-lg: 1024px;
  --seeds-screen-xl: 1280px;
  --seeds-screen-2xl: 1440px;

  --seeds-z-index-overlay: 10;
}
