:root {
  /**
   * Base Sizes
   */

  --seeds-s0_5: 0.125rem;
  --seeds-s1: 0.25rem;
  --seeds-s1_5: 0.375rem;
  --seeds-s2: 0.5rem;
  --seeds-s2_5: 0.625rem;
  --seeds-s3: 0.75rem;
  --seeds-s3_5: 0.875rem;
  --seeds-s4: 1rem;
  --seeds-s5: 1.25rem;
  --seeds-s6: 1.5rem;
  --seeds-s7: 1.75rem;
  --seeds-s8: 2rem;
  --seeds-s9: 2.25rem;
  --seeds-s10: 2.5rem;
  --seeds-s11: 2.75rem;
  --seeds-s12: 3rem;
  --seeds-s14: 3.5rem;
  --seeds-s16: 4rem;
  --seeds-s20: 5rem;
  --seeds-s24: 6rem;
  --seeds-s28: 7rem;
  --seeds-s32: 8rem;
  --seeds-s36: 9rem;
  --seeds-s40: 10rem;
  --seeds-s44: 11rem;
  --seeds-s48: 12rem;
  --seeds-s52: 13rem;
  --seeds-s56: 14rem;
  --seeds-s60: 15rem;
  --seeds-s64: 16rem;
  --seeds-s72: 18rem;
  --seeds-s80: 20rem;
  --seeds-s96: 24rem;

  --seeds-width-xs: 20rem;
  --seeds-width-sm: 24rem;
  --seeds-width-md: 28rem;
  --seeds-width-lg: 32rem;
  --seeds-width-xl: 36rem;
  --seeds-width-2xl: 42rem;
  --seeds-width-3xl: 48rem;
  --seeds-width-4xl: 56rem;
  --seeds-width-5xl: 64rem;
  --seeds-width-6xl: 72rem;
  --seeds-width-7xl: 80rem;
  --seeds-width-prose: 65ch;
  --seeds-width-1-3rd: 33.333333%;
  --seeds-width-2-3rd: 66.666667%;

  /** 
   * Semantic Sizes
   */

  --seeds-spacer-container: var(--seeds-s12);
  --seeds-spacer-section: var(--seeds-s8);
  --seeds-spacer-content: var(--seeds-s6);
  --seeds-spacer-header: var(--seeds-s4);
  --seeds-spacer-label: var(--seeds-s3);
  --seeds-spacer-text: var(--seeds-s2);
}
