.expandable-text {
  p:not(:last-child),
  ul:not(:last-child) {
    margin-bottom: 0.9em;
  }
  ul {
    list-style: disc;
    margin-left: 1.4em;
  }
}

.button-toggle {
  color: var(--seeds-color-primary);
  cursor: pointer;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
