.seeds-form-error-message {
  --form-error-message-color: var(--seeds-color-alert);
  --form-error-message-font-size: var(--seeds-font-size-xs);

  display: inline-block;
  color: var(--form-error-message-color);
  font-size: var(--form-error-message-font-size);
}
