.seeds-alert {
  --alert-padding: var(--seeds-s4);
  --alert-border-radius: 0;
  --alert-border: none;
  --alert-flex-gap: var(--seeds-s3);
  --alert-icon-size: 1em;
  --alert-max-width: var(--seeds-width-sm);
  --alert-font: var(--seeds-font-sans);
  --alert-font-size: var(--seeds-type-caption-size);
  --alert-link-gap: var(--seeds-s1);
  --alert-link-font-weight: var(--seeds-font-weight-semibold);

  --common-message-padding: var(--alert-padding);
  --common-message-border-radius: var(--alert-border-radius);
  --common-message-border: var(--alert-border);
  --common-message-flex-gap: var(--alert-flex-gap);
  --common-message-icon-size: var(--alert-icon-size);
  --common-message-max-width: var(--alert-max-width);
  --common-message-font: var(--alert-font);
  --common-message-font-size: var(--alert-font-size);
  --common-message-link-gap: var(--alert-link-gap);
  --common-message-link-font-weight: var(--alert-link-font-weight);
}
