.alert {
  --common-message-padding: var(--alert-padding);
  --common-message-border-radius: var(--alert-border-radius);
  --common-message-border: var(--alert-border);
  --common-message-flex-gap: var(--alert-flex-gap);
  --common-message-icon-size: var(--alert-icon-size);
  --common-message-max-width: var(--alert-max-width);
  --common-message-font: var(--alert-font);
  --common-message-font-size: var(--alert-font-size);
}
