.message {
  --common-message-padding: var(--message-padding);
  --common-message-border-radius: var(--message-border-radius);
  --common-message-border: var(--message-border);
  --common-message-flex-gap: var(--message-flex-gap);
  --common-message-icon-size: var(--message-icon-size);
  --common-message-max-width: var(--message-max-width);
  --common-message-font: var(--message-font);
  --common-message-font-size: var(--message-font-size);
  --common-message-link-gap: var(--message-link-gap);
  --common-message-link-font-weight: var(--message-link-font-weight);
}
