.common-message {
  --_common-message-padding: var(--common-message-padding, var(--bloom-s4));
  --_common-message-border-radius: var(--common-message-border-radius, 0);
  --_common-message-border: var(--common-message-border, none);
  --_common-message-flex-gap: var(--common-message-flex-gap, var(--bloom-s3));
  --_common-message-icon-size: var(--common-message-icon-size, 1em);
  --_common-message-max-width: var(--common-message-max-width, var(--bloom-width-sm));
  --_common-message-font: var(--common-message-font, var(--bloom-font-sans));
  --_common-message-font-size: var(--common-message-font-size, var(--bloom-type-caption));
  --_common-message-link-gap: var(--common-message-link-gap, var(--bloom-s1));
  --_common-message-link-font-weight: var(--common-message-link-font-weight, var(--bloom-font-weight-semibold));

  padding: var(--_common-message-padding);
  display: flex;
  align-items: center;
  gap: var(--_common-message-flex-gap);
  max-width: var(--_common-message-max-width);
  font-family: var(--_common-message-font);
  font-size: var(--_common-message-font-size);

  border-radius: var(--_common-message-border-radius);
  border: var(--_common-message-border);

  &.is-fullwidth {
    max-width: 100%;
    justify-content: center;
  }

  &[data-variant="primary"] {
    background: var(--bloom-color-primary-light);
    color: var(--bloom-color-on-surface);
  }

  &[data-variant="primary-inverse"] {
    background: var(--bloom-color-primary);
	  color: var(--bloom-color-on-inverse);
  }

  &[data-variant="success"] {
    background: var(--bloom-color-success-light);
    color: var(--bloom-color-on-surface);
  }

  &[data-variant="success-inverse"] {
    background: var(--bloom-color-success);
    color: var(--bloom-color-on-inverse);
  }

  &[data-variant="alert"] {
    background: var(--bloom-color-alert-light);
    color: var(--bloom-color-on-surface);
  }

  &[data-variant="alert-inverse"] {
    background: var(--bloom-color-alert);
    color: var(--bloom-color-on-inverse);
  }

  &[data-variant="warn"] {
    background: var(--bloom-color-warn-light);
    color: var(--bloom-color-on-surface);
  }

  &[data-variant="warn-inverse"] {
    background: var(--bloom-color-warn);
    color: var(--bloom-color-on-surface);
  }

  &[data-variant="secondary"] {
    background: var(--bloom-color-secondary-light);
    color: var(--bloom-color-on-surface);
  }

  &[data-variant="secondary-inverse"] {
    background: var(--bloom-color-secondary-darker);
    color: var(--bloom-color-on-inverse);
  }

  &:not(.is-fullwidth) > [data-part="content"] {
    flex-grow: 1;
  }

  &.is-fullwidth > [data-part="content"] {
    width: 100%;
    max-width: var(--_common-message-max-width);
  }

  > button {
    padding: 0;
  }

  .icon {
    font-size: var(--_common-message-icon-size);
    margin-block-start: -0.15em; /* Slightly adjust flex alignment */
  }

  a {
    // margin-inline-start: var(--bloom-s1);
    margin-inline-start: var(--_common-message-link-gap);
    color: currentColor;
    text-decoration: underline;
    font-weight: var(--_common-message-link-font-weight);
  }
}
