:root {
  --link-color: #1ea7fd;
}

.sbdocs-table {
  width: 100%;
}

.sbdocs-table thead tr th:first-child {
  width: 38%;
}

.sbdocs-content {
  max-width: 1200px !important;
}

:is(.sbdocs-table, .docblock-argstable) {
  font-family: var(--seeds-font-sans) !important;
  font-size: var(--seeds-font-size-sm) !important;
  border: 1px solid var(--seeds-border-color);
  color: var(--seeds-text-color-darker);
}

:is(.sbdocs-table, .docblock-argstable) thead th {
  font-size: var(--seeds-font-size-base);
  text-align: left;
  text-transform: uppercase;
  color: var(--seeds-input-text-placeholder-color) !important;
  background-color: var(--seeds-color-primary-lighter);
  border-bottom: 1px solid var(--seeds-border-color) !important;
  border-radius: none !important;
}

:is(.sbdocs-table, .docblock-argstable) :is(th, td) {
  border-inline: none !important;
}
