.seeds-grid {
  --grid-gap-sm: var(--seeds-s4);
  --grid-gap-md: var(--seeds-s6);
  --grid-gap-lg: var(--seeds-s8);
  --grid-gap-xl: var(--seeds-s12);

  --grid-gap-tablet: var(--grid-gap-sm);

  --grid-gap: var(--grid-gap-md);

  @media (--lg-down) {
    --grid-gap: var(--grid-gap-tablet);
  }

  display: grid;
  gap: var(--grid-gap);

  @media (--lg-and-up) {
    &[data-spacing="sm"] {
      --grid-gap: var(--grid-gap-sm);
    }

    &[data-spacing="md"] {
      --grid-gap: var(--grid-gap-md);
    }

    &[data-spacing="lg"] {
      --grid-gap: var(--grid-gap-lg);
    }

    &[data-spacing="xl"] {
      --grid-gap: var(--grid-gap-xl);
    }
  }
}

.seeds-grid-row {
  --grid-columns: auto-fit;
  --grid-minimum-column-size: 0;

  @media (--sm-only) {
    --grid-columns: 1;
  }

  display: grid;
  gap: inherit;
  grid-template-columns: repeat(var(--grid-columns), minmax(var(--grid-minimum-column-size), 1fr));
}

.seeds-grid-row > * {
  overflow-wrap: break-word;
}

@media (--sm-and-up) {
  .seeds-grid-row[data-columns="4"] {
    --grid-columns: 4;
  }

  .seeds-grid-row[data-columns="3"] {
    --grid-columns: 3;
  }

  .seeds-grid-row[data-columns="2"] {
    --grid-columns: 2;
  }

  .seeds-grid-row[data-columns="1"] {
    --grid-columns: 1;
  }

  .seeds-grid-row[data-columns="1+2"] {
    --grid-columns: 4;

    > *:first-child {
      grid-column: span 2;
    }
  }

  .seeds-grid-row[data-columns="2+1"] {
    --grid-columns: 4;

    > *:last-child {
      grid-column: span 2;
    }
  }
}
